// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 2;
  padding: 0.5rem 0;
  box-shadow: none;
}

.navbar {
  background-color: #566B30 !important;
}

.nav-link {
  border-radius: 5px 5px 0 0;
  margin: 0 5px;
}

.nav-link:hover { 
  background-color: #46552C;
}

// .navList {
//   transform: skew(26deg);
// }

// .navLabels {
//   transform: skew(-26deg);
// }

.leftNavbar {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 5%;
}

.rightNavbar {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 5%;
}

.termsAndConditionsNav {
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
}

.termsAndConditionsNav:hover {
  background-color: transparent !important;
}

.logoutDropdown {
  min-width: 0;
}

.laravelAlert {
  margin: 60px 10px -60px 10px;
}

.username {
  color: rgb(227, 180, 23) !important;
  background-color: #566B30;
  padding: 13.5 0;
}

.username:hover {
  background-color: #566B30;
}

select {
  width:100%;
}

.container-fluid {
  padding: 0px;
}

.logo {
  display: block;
  width: 100px;
  position: relative;
  margin-right: 5px;
}

.topMargin {
  margin-top: 50px;
}

.salesOrder {
  background-color: #f5f8fa;
  padding: 20px 0;
}

.transferRequest {
  background-color: #fff;
  padding: 20px 0;
}

.gray {
  background-color: #f5f8fa;
}

.dashboardTables {
  background-color: transparent;
  padding: 20px 0;
  width: 80%;
  margin: 0 auto;
}

.dashboardCards {
  width: 50%;
  margin: 0 auto;
}

.dashboardLabels {
  margin: 0 0 10px 10px;
}

.cardContent {
  text-align: center;
}

.salesCards {
  width: 22%;
  height: 123px;
  margin: 0 10px 20px 10px;
}

.salesCardsBody {
  padding: 0;
  font-size: 10px;
  color: #B9C1CE;
}

.salesNumber {
  font-size: 28px;
}

.salesNumber1 {
  color: #23A2EA;
}

.salesNumber2 {
  color: #DD3E1A;
}

.salesNumber3 {
  color: #348A00;
}

.salesNumber4 {
  color: #DEB717;
}

.salesProcess {
  font-size: 12px;
  color: #000;
}

.drop-down_brand {
  padding: 0.5rem 0;
}

.btn-inflow {
  background-color: #ECB118;
  color: #fff;
  width: 100%;
}

.btn-create {
  width: 100%;
}

.btn-search {
  width: 100%;
}

.btn-refresh {
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.user-buttons {
  width: 50%;
  margin: auto;
}

.outlet-buttons {
  margin: auto;
}

th {
  cursor: pointer;
}

th:hover{
  background-color: lightgray;
  text-decoration: none;
  cursor: pointer;
}

.emptyHeader {
  cursor: default !important;
  background-color: transparent !important;
  pointer-events: none !important;
}

.table td {
  vertical-align: middle;
}

.transferRequestsButtons {
  width:100%;
}

.no-side-paddings {
  padding: 0.5rem !important;
}

.fullWidthButtons {
  padding: 0;
}

.modal{
  background-color: rgba(0,0,0,0.7);
}

.unauthorized {
  background: #f5f8fa;
  margin-top: 50px;
  height: 100%;
  padding: 15px 1% 0 1%;
  z-index: 1;
}

.modalCard {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  overflow: auto;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.card-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.modal-fields {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.modal-button {
  text-align: center;
}

.termsAndConditionsTitle {
  text-align: center;
  margin-bottom: 0;
}

.termsAndConditionsContent {
  height: 400px;
  overflow: auto;
  padding: 0 15px 15px 15px;
}

.pagination {
  margin: auto;
}

.btn-view-more {
  width: 100%;
}

.btn-add-item {
  float: right;
}

.hiddenField {
  margin-bottom: 0;
}

.passwordField {
  margin-bottom: 1rem;
}

.laravelAlert {
  margin: 60px 10px -60 10px;
}

.searchField::before {
  display: none;
  font-family: "Font Awesome 5 Solid";
  content: "\f007";
}

.btn-accept {
  float: right;
}