
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

select {
  width:100%;
}

.navbar {
  background: #566B30 !important;
}

.nav-link:hover { 
  background: #46552C;
}

.logo {
  display: block;
  width: 100px;
  position: relative;
  margin: auto;
}

.centered-buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table td {
  vertical-align: middle;
}

.action-buttons {
  width: 70px;
}

.threshold-button {
  width:156px;
}

.no-side-paddings {
  padding: 0.5rem !important;
}

.modal{
  background-color: rgba(0,0,0,0.7);
}

.card {
  width: 70%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}